<!DOCTYPE html>
<html>
<head>
<meta charset="utf8" />
<title>{{title}}</title>
<!-- needed for adaptive design -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

{{{redocHead}}}


<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto|Fieldwork|Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="https://use.typekit.net/glj6vlc.css">

<style>
pre{border-radius:0.3em;}
body {padding: 0;margin: 0;}
.-depth0 {font-weight:700 !important;text-transform:none !important;color:#033d58 !important;font-size:16px !important;border-bottom:1px solid #cccccc;padding-bottom:5px;}
.-depth1:hover {background:#10639B !important;font-weight:700 !important;text-transform:none !important;color:#FFF !important;}
.-depth1 {font-weight:700 !important;color:#333333 !important;}
.active {background:#10639B !important;color:#FFF !important;font-weight:700 !important;}
.search-input {font-size:16px !important;}
h1 {margin-top:0 !important;color: #262626 !important;padding-top:20px;font-weight:bold !important;border-bottom: 1px #d8d8d8 solid !important;}
h2 {margin-bottom:0px !important}
.boomiheader{background-color:#033d58;padding-top:10px;padding-left:17px;padding-bottom:7px;vertical-align:middle;}
.logo{outline: none;width: auto;height: 36px;display: inline-flex;}
.api-info {display:none !important;}
a {color:#10639b !important;text-decoration:underline !important;font-weight:700 !important;}
blockquote {background-color:#F9F9F9 !important;padding:15px !important;color:#444 !important;border-left: 4px #9dcff0 solid !important;}
blockquote p {margin-top:0px !important;}

</style>

</head>

<body>
<div class="boomiheader">
<span class="logo" style="padding-bottom=:6px;padding-top:1px;">
<img src="https://cdn.zoominsoftware.io/boomi-skin-prod/public/assets/img/logo-skin-boomi.svg?f319be5149226c8b0fb4" alt="Boomi AtomSphere Documentation" />
<span class="AtomSphere" style="padding-left: 15px;padding-top: 9px;font-weight: 100;font-size: 20px;font-family: Fieldwork;color: #FF7C66;font-weight: bold;vertical-align:middle;">AtomSphere</span>
<span style="padding-left: 15px;padding-top: 9px;font-weight: 100;font-size: 20px;font-family: Fieldwork;color: #FFF;vertical-align:middle;">Documentation</span>
</span></div>

{{{redocHTML}}}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-40515923-4"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-40515923-4');
  </script>
</body>

</html>
